<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components</title>
</head>
<body>
  <ul class="components">
    {{#each components}}
      <li>
{{{this}}}
      </li>
    {{/each}}
  </ul>
</body>
</html>
