<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Upfront
        </a>
      </div>
    </div>
  </nav>

  <div class="content container-fluid">
    <nav class="component-nav col-md-3">
      <ul>
        {{#each components}}
          <li>
            <a href="#{{component.id}}">{{component.config.label}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
    <ul class="components list-unstyled col-md-9">
      {{#each components}}
        <li>
{{{compiled}}}
        </li>
      {{/each}}
    </ul>
  </div>
</body>
</html>
