<article class="sg-component panel panel-default" id="{{id}}">
  <header class="panel-heading">
    {{headline}}
  </header>
  <div class="panel-body">
    <ul class="docs">
      {{#each docs}}
        <li>
{{{this}}}
        </li>
      {{/each}}
    </ul>

{{{template}}}
  </div>
</article>
